<app-mobile-warning />
<div class="login-page">
  <div class="login-container">
    <!-- Phía bên phải: Form đăng nhập -->
    <div class="login-card">
      <h1 class="title">Đăng nhập</h1>
      <p class="card-subtitle">Chào mừng bạn quay trở lại với Intern Hub</p>

      <form (submit)="$event.preventDefault(); handleSubmit()" class="form-container">
        <div class="group-input">
          <app-input-text
            headerInput="Tên đăng nhập"
            placeholder="Nhập tên đăng nhập"
            [required]="true"
            [(value)]="username"
          ></app-input-text>

          <app-input-text
            headerInput="Mật khẩu"
            placeholder="Nhập mật khẩu"
            [typeInput]="showPassword() ? 'text' : 'password'"
            [required]="true"
            [icon]="showPassword() ? 'dsi-eye-off-line' : 'dsi-eye-line'"
            (iconClick)="togglePassword()"
            [(value)]="password"
          ></app-input-text>
        </div>

        @if (error()) {
          <div class="error-wrapper">
            <app-error-message [message]="error()!"></app-error-message>
          </div>
        }

        <button type="submit" class="btn-login" [disabled]="checkInputRequired() || isLoading()">
          @if (isLoading()) {
            <span class="loading-state">
              <i class="dsi dsi-activity-line dsi-spin"></i>
              Đang xử lý...
            </span>
          } @else {
            Đăng nhập
          }
        </button>
      </form>

      <div class="divider"></div>

      <div class="footer">
        <a routerLink="/auth/forgot-password" class="link">Quên mật khẩu?</a>
        <p class="register-text">
          Chưa có tài khoản?
          <a routerLink="/auth/register" class="link">Đăng kí</a>
        </p>
      </div>
    </div>
  </div>
</div>
